node_modules
.env
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store
.vscode/
.idea/
.history/
build/
dist/
out/
tmp/
coverage/
.next/
.parcel-cache/
.eslintcache
.prettierignore
